<fieldset>
  <legend>{{ 'image.upload.legend' | translate }}</legend>

  <p-fileupload
    #fileUpload
    name="files[]"
    [multiple]="true"
    [auto]="false"
    [customUpload]="true"
    [showUploadButton]="false"
    [showCancelButton]="false"
    accept="image/png,image/jpeg,image/jpg,application/pdf"
    (onSelect)="onSelect($event)"
    [chooseLabel]="'image.upload.chooseLabel' | translate">

    <ng-template pTemplate="content">
      <div class="w-full">
        <i class="pi pi-cloud-upload text-5xl text-primary mb-3 block"></i>
        <p class="text-lg mb-2">
          <strong>{{ 'image.upload.title' | translate }}</strong>
        </p>
        <p class="text-color-secondary mb-2">
          {{ 'image.upload.dragDropOrClick' | translate }}
        </p>
        <p class="text-sm text-color-secondary">
          {{ 'image.upload.accept' | translate }}
        </p>
      </div>
    </ng-template>
  </p-fileupload>
</fieldset>
