<fieldset>
  <legend>{{ 'image.upload.legend' | translate }}</legend>

  <p-fileupload
    #fileUpload
    name="files[]"
    [multiple]="true"
    [auto]="false"
    [customUpload]="true"
    [showUploadButton]="false"
    [showCancelButton]="false"
    accept="image/png,image/jpeg,image/jpg,application/pdf"
    (onSelect)="onSelect($event)"
    [chooseLabel]="'image.upload.chooseLabel' | translate">

    <ng-template pTemplate="content">
      <div class="upload-content">
        <i class="pi pi-cloud-upload upload-icon text-5xl"></i>
        <p class="upload-title text-lg">
          <strong>{{ 'image.upload.title' | translate }}</strong>
        </p>
        <p class="upload-description">
          {{ 'image.upload.dragDropOrClick' | translate }}
        </p>
        <p class="upload-formats text-sm">
          {{ 'image.upload.accept' | translate }}
        </p>
      </div>
    </ng-template>
  </p-fileupload>
</fieldset>
