<p>
  Use these tools to analyze and improve your web page. You can restructure
  headings, generate an IA diagram, find guidance on the components used in your
  page, integrate SEO and user insights into your updates, check your link
  quality, or convert your page to a different template.
</p>

<!--REMINDER: remove *ngIf="!production" as tools are finished (or close enough for people to use them)-->

<p-accordion
  [(value)]="activePanels"
  [multiple]="true"
  class="flex flex-column gap-3"
>
  <p-accordion-panel
    [value]="0"
    class="border-1 border-round-sm border-surface"
  >
    <p-accordion-header>Template conversion</p-accordion-header>
    <p class="mt-0 ml-4 text-color-secondary" *ngIf="!isPanelOpen(0)">
      Add doormat text.
    </p>
    <p-accordion-content>
      <ca-template-conversion></ca-template-conversion>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
