<div class="w-full mt-4" *ngIf="results && results.length > 0">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex align-items-center p-3">
        <i class="pi pi-download mr-2"></i>
        <h3 class="m-0">{{ 'metadata.csv.title' | translate }}</h3>
      </div>
    </ng-template>

    <div class="p-0">
      <div class="flex gap-2">
        <p-button 
          [label]="getExportButtonLabel()"
          icon="pi pi-file-export"
          severity="primary"
          (onClick)="exportToCsv()">
        </p-button>
      </div>

      <div class="pt-2 border-top-1 surface-border mt-3">
        <small class="text-xs text-500">
          <i class="pi pi-info-circle mr-1"></i>
          {{ 'metadata.csv.note' | translate }}
        </small>
      </div>
    </div>
  </p-card>
</div>